nav {
  background-color: var(--black-wall);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
}

main {
  width: 100%;
  height: fit-content;
}

section {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--text-color-white);
  padding: 0 var(--padding-m);
}

section:nth-child(1) {
  height: 60vh;
  padding-top: var(--navbar-height);
}

section:nth-child(2) {
  height: 40vh;
}

section:nth-child(3) {
  height: 60vh;
}

section:nth-child(4) {
  height: 40vh;
}

section:nth-child(3) > .content > .text {
  background-color: var(--black-wall);
  color: var(--text-color-white);
}

section:nth-child(2) > .content > .text,
section:nth-child(4) > .content > .text {
  border-color: var(--main-color-green);
  padding: calc(var(--padding-l) * 2) var(--padding-l);
}

section:nth-child(2) > .content > .text > h1,
section:nth-child(4) > .content > .text > h1 {
  position: absolute;
  transform: translateY(calc(-100% - var(--line-height) / 4 - var(--padding-l)));
  background-color: var(--text-color-white);
}

section > .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
}

section:nth-child(n) > .bg {
  background-size: cover;
}

section:nth-child(1) > .content > .text {
  background-color: var(--black-wall);
  color: var(--text-color-white);
}

section:nth-child(1) > .bg {
  background-image: url("../media/consultation/this.jpg");
  background-position: center 55%;
}
section:nth-child(3) > .bg {
  background-image: url("../media/consultation/experience.jpg");
}
/* section:nth-child(2) > .bg {
  background-image: url("../media/consultation/team.jpg");
}
section:nth-child(4) > .bg {
  background-image: url("../media/consultation/work.jpg");
}
*/

section > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  z-index: 1;
}

section > .content > .text {
  display: flex;
  flex-direction: column;
  grid-gap: var(--padding-l);
  width: 100%;
  height: fit-content;
  /* background-color: var(--black-wall); */
  border: 4px solid var(--main-color-gray);
  color: var(--text-color-black);
  padding: var(--padding-l);
}

section > .content > .text > h1 {
  align-self: center;
  width: fit-content;
  font-size: 2em;
  text-align: center;
  padding: 0 var(--padding-m);
}

section > .content > .text > p {
  text-align: justify;
  line-height: var(--line-height);
}

section > .content > .text > p.list {
  display: flex;
  flex-direction: column;
  grid-gap: var(--padding-s);
  width: fit-content;
}

section > .content > .text > p.list > span {
  position: relative;
  width: 100%;
  line-height: var(--line-height);
  padding-left: var(--padding-l);
}

section > .content > .text > p.list > span::before {
  content: "";
  position: absolute;
  left: var(--padding-l);
  top: 50%;
  transform: translate(calc(-100% - var(--padding-s)), -50%);
  width: auto;
  height: var(--line-height);
  aspect-ratio: 1/1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

section > .content > .text > p.list > span:nth-child(1)::before {
  background-image: url("../media/consultation/certificate.svg");
}
section > .content > .text > p.list > span:nth-child(2)::before {
  background-image: url("../media/consultation/check-list.svg");
}
section > .content > .text > p.list > span:nth-child(3)::before {
  background-image: url("../media/consultation/time.svg");
}

@media screen and (max-width: 1000px) {
  nav {
    background-color: var(--main-color-gray);
  }

  h1 {
    font-size: 1.8em !important;
  }

  section:nth-child(1) {
    padding-top: 0;
  }

  section:nth-child(1), section:nth-child(3) {
    height: 100vh !important;
  }

  section:nth-child(2), section:nth-child(4) {
    height: 70vh !important;
  }

  section:nth-child(4) h1 {
    width: 320px !important;
    transform: translateY(calc(-100% - var(--padding-l))) !important;
    padding: 0 !important;
  }

  section:nth-child(4) .text {
    padding-top: calc(var(--padding-l) * 2) !important;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 1.6em !important;
  }

  p {
    font-size: 0.8em !important;
  }
}