.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: var(--main-color-gray);
  padding-top: var(--navbar-height);
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: calc(100vw - var(--padding-m) * 2);
  min-height: var(--header-height);
}

main p {
  font-size: var(--font-size-m);
}

.lawyerListContainer {
  display: flex;
  flex-direction: column;
  grid-gap: var(--padding-l);
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  padding: var(--padding-l) 0;
}

.zav {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--padding-l);
  width: 100%;
  height: fit-content;
}

.zav > .avatar {
  position: relative;
  width: auto;
  height: 240px;
  aspect-ratio: 4/3;
  background-image: url("../media/lawyers/martsinkevich-oleg-igorevich.jpg");
  background-size: cover;
  border-radius: var(--border-radius);
}

.zav > .avatar > a {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-weight: bold;
}

.zav > .avatar > a > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  opacity: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  transition: opacity 0.8s ease;
}

.zav > .avatar:hover > a > p {
  opacity: 1;
}

.zav > .avatar:hover > a > p {
  opacity: 1;
}

.zav > .text {
  flex: 1 0 50%;
  width: 100%;
  max-width: 480px;
  min-width: 260px;
  height: 100%;
}

.zav > .text > p {
  line-height: var(--line-height);
  text-align: justify;
}

.lawyerList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  min-height: inherit;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.lawyerList > .lawyer {
  position: relative;
  flex: 1 0 21%;
  width: 100%;
  height: 260px;
  background-size: cover;
  transition: all 0.8s ease;
}

.lawyerList > .lawyer > a {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

.lawyerList > .lawyer > a > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.lawyerList > .lawyer:hover {
  flex: 1 0 26%;
}

.lawyerList > .lawyer:hover > a > p {
  opacity: 1;
}

.lawyerList > .lawyer:nth-child(1) {
  background-image: url("../media/lawyers/kosik-vladimir-vasilyevich.jpg");
}
.lawyerList > .lawyer:nth-child(2) {
  background-image: url("../media/lawyers/degtyarev-sergey-ivanovich.jpg");
}
.lawyerList > .lawyer:nth-child(3) {
  background-image: url("../media/main/avatar.png");
  background-size: contain;
}
.lawyerList > .lawyer:nth-child(4) {
  background-image: url("../media/main/avatar.png");
  background-size: contain;
}
.lawyerList > .lawyer:nth-child(5) {
  background-image: url("../media/lawyers/zylkova-tatiana-viktorovna.jpg");
}
.lawyerList > .lawyer:nth-child(6) {
  background-image: url("../media/lawyers/komel-vadim-gennadyevich.jpg");
}
.lawyerList > .lawyer:nth-child(7) {
  background-image: url("../media/main/avatar.png");
  background-size: contain;
}
.lawyerList > .lawyer:nth-child(8) {
  background-image: url("../media/lawyers/hermenchuk-olga-nikolayevna.jpg");
}
.lawyerList > .lawyer:nth-child(9) {
  background-image: url("../media/lawyers/pilinkevich-nikolay-nikolayevich.jpg");
}
.lawyerList > .lawyer:nth-child(10) {
  background-image: url("../media/lawyers/avchinko-dmitry-leonidovich.jpg");
}
.lawyerList > .lawyer:nth-child(11) {
  background-image: url("../media/lawyers/rapinchuk-anastasia-viktorovna.jpg");
}
.lawyerList > .lawyer:nth-child(12) {
  background-image: url("../media/lawyers/magaryan-ekaterina-pavlovna.jpg");
}

@media screen and (max-width: 1000px) {
  .wrapper {
    padding-top: 0;
  }     

  .zav {
    justify-content: center;
  }

  .zav > .avatar {
    height: 260px;
  }

  .lawyerList {
    grid-gap: var(--padding-m);
  }

  .lawyerList > .lawyer {
    height: auto;
    min-width: 260px;
    aspect-ratio: 4/3;
    border-radius: var(--border-radius);
  }

  .lawyerList > .lawyer > a > p {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  .zav > .avatar > a > p,
  .lawyerList > .lawyer > a > p {
    height: fit-content;
    opacity: 1;
    padding: var(--padding-m) 0;
  }
}

@media screen and (max-width: 400px) {
  .zav > .avatar {
    width: 100%;
    height: auto;
  }
}