@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/* Header */

header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.gray_block {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: var(--header-height);
  background-color: var(--main-color-gray);
  clip-path: polygon(0 0, 60% 0, 0 230%, 0 0);
}

.line {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: var(--header-height);
  background-color: var(--main-color-yellow);
  clip-path: polygon(57% 0, 62% 0, 0 280%, 0 245%);
}

/* Text */

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  grid-gap: var(--padding-l);
  position: relative;
  width: 100%;
  height: fit-content;
  max-width: 640px;
  background-color: var(--white-wall);
  text-align: justify;
  padding: var(--padding-l);
}

.text::before,
.text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 70%;
  border: 4px solid var(--main-color-yellow);
}

.text::before {
  left: -5%;
  border-right: none;
}

.text::after {
  right: -5%;
  border-left: none;
}

.title {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.title > h1 {
  line-height: var(--line-height);
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  grid-gap: var(--padding-s);
  list-style: none;
}

.content > li {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-gap: var(--padding-m);
  width: fit-content;
}

.content p {
  line-height: var(--line-height);
}

.shield_icon {
  background-image: url("../media/main/shield.png");
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
}

.contacts_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 0 var(--padding-l);
}

.contacts_link > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: var(--text-color-white);
  color: var(--text-color-black);
  font-weight: bold;
  overflow: hidden;
  padding: var(--padding-m) calc(var(--padding-l) * 2);
}

.contacts_link > a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%) scale(0);
  width: 110%;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transition: all 0.5s ease-in-out;
}

.contacts_link > a:hover::before {
  background-color: var(--main-color-yellow);
  transform: translate(-50%, -50%) scale(1);
}

.contacts_link > a > p {
  z-index: 1;
}

/* Bg */

.bg {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.bg > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.6);
  z-index: -1;
}

/* .video::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-wall);
  clip-path: polygon(62% 0, 100% 0, 100% 100%, 39.8% 100%);
} */

/* .image {
    width: 100%;
    height: 100%;
    min-height: var(--header-height);
    background-size: cover;
    animation: image 20s linear infinite;
}

@keyframes image {
    0% {
        background-image: url("../media/header.jpg");
    }

    10% {
        background-image: url("../media/header.jpg");
    }

    15% {
        background-image: url("../media/header2.jpg");
    }

    25% {
        background-image: url("../media/header2.jpg");
    }

    30% {
        background-image: url("../media/header3.jpg");
    }

    40% {
        background-image: url("../media/header3.jpg");
    }

    100% {
        background-image: url("../media/header.jpg");
    }
} */

/* Media */

@media screen and (max-width: 1400px) {
  .text_container {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
  }

  header {
    height: 100%;
    max-height: none;
    min-height: auto;
  }

  .text_container {
    width: 100%;
    align-items: center;
  }

  .text {
    height: fit-content;
    min-height: fit-content;
  }

  .video {
    width: 100%;
    height: 100%;
    min-height: auto;
  }

  .video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }

  .gray_block {
    display: none;
  }

  .line {
    display: none;
  }

  .shield_icon {
    width: 30px;
    height: 30px;
  }
}
