@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/* Header */

header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.grayBlock {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: var(--header-height);
  background-color: var(--main-color-gray);
  clip-path: polygon(0 0, 60% 0, 0 230%, 0 0);
}

.line {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: var(--header-height);
  background-color: var(--main-color-yellow);
  clip-path: polygon(57% 0, 62% 0, 0 280%, 0 245%);
}

/* Text */

.contentContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--padding-l);
}

.text {
  display: flex;
  flex-direction: column;
  grid-gap: var(--padding-l);
  position: relative;
  width: 640px;
  height: fit-content;
  max-width: 640px;
  min-width: 640px;
  background-color: var(--white-wall);
  text-align: justify;
  padding: var(--padding-l);
}

.text::before,
.text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 70%;
  border: 4px solid var(--main-color-yellow);
}

.text::before {
  left: -5%;
  border-right: none;
}

.text::after {
  right: -5%;
  border-left: none;
}

.title {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.title > h1 {
  line-height: var(--line-height);
  text-align: center;
}

.text > .content {
  display: flex;
  flex-direction: column;
  grid-gap: var(--padding-s);
  list-style: none;
}

.text > .content > li {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-gap: var(--padding-m);
  width: fit-content;
}

.text > .content p {
  line-height: var(--line-height);
}

/* Contacts link */

.contactsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 0 var(--padding-l);
}

.contactsLink > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: var(--text-color-white);
  color: var(--text-color-black);
  font-weight: bold;
  overflow: hidden;
  padding: var(--padding-m) calc(var(--padding-l) * 2);
}

.contactsLink > a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%) scale(0);
  width: 110%;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transition: all 0.5s ease-in-out;
}

.contactsLink > a:hover::before {
  background-color: var(--main-color-yellow);
  transform: translate(-50%, -50%) scale(1);
}

.contactsLink > a > p {
  z-index: 1;
}

/* Diplomas */

.diplomasContainer {
  display: grid;
  grid-template-columns: 50px auto 50px;
  align-items: center;
  justify-content: center;
  grid-gap: var(--padding-s);
  position: absolute;
  left: 0;
  bottom: var(--padding-m);
  width: 100%;
  height: 200px;
  max-width: 100vw;
  padding: var(--padding-m);
}

.diplomas {
  display: flex;
  flex: none;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  overflow: auto;
  list-style: none;
  scroll-snap-type: x mandatory;
  background-color: var(--white-wall);
  backdrop-filter: blur(2px);
  border-radius: var(--border-radius);
  scroll-behavior: smooth;
}

.diplomas::-webkit-scrollbar {
  display: none;
}

.diplomas > li {
  scroll-snap-align: start;
  flex: none;
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
  padding: var(--padding-m);
}

.diplomas > li > .diplomaInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-gray);
  border-radius: var(--border-radius);
  box-shadow: inset -4px -4px 0 2px #00000050;
  padding: var(--padding-m);
}

.diplomas > li:nth-child(2n) > .diplomaInner {
  background-color: var(--text-color-white);
  color: var(--text-color-black);
}

.diplomas > li > .diplomaInner > p {
  text-align: center;
  font-weight: bold;
}

/* Diplomas buttons */

.diplomasContainer > button {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: var(--white-wall);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.2s ease;
  overflow: hidden;
}

.diplomasContainer > button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--main-color-yellow);
  transition: all 0.5s ease-in-out;
}

.diplomasContainer > button > p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--text-color-white);
  font-size: 1.6em;
  font-weight: bold;
  transition: color 0.5s ease-in-out, transform 0.1s ease-in-out;
  z-index: 1;
}

.diplomasContainer > button:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.diplomasContainer > button:hover > p {
  color: var(--text-color-black);
}

.diplomasContainer > button.scrollLeft:active > p {
  transform: translateX(-15%);
}

.diplomasContainer > button.scrollRight:active > p {
  transform: translateX(15%);
}

/* Bg */

.bg {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.bg > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.6);
  z-index: -1;
}

/* Media */

@media screen and (max-width: 1400px) {
  .text_container {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
  }

  header {
    height: 100%;
    max-height: none;
    min-height: auto;
  }

  .textContainer {
    width: 100%;
    align-items: center;
  }

  .text {
    height: fit-content;
    min-height: fit-content;
    min-width: auto;
  }

  .text::before, .text::after {
    display: none;
  }

  .video {
    width: 100%;
    height: 100%;
    min-height: auto;
  }

  .video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }

  .grayBlock {
    display: none;
  }

  .line {
    display: none;
  }

  .contactsLink {
    padding: 0;
  }
}
