@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/* Header */

header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: var(--padding-m);
}

header > .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../media/main/header.png");
  background-size: cover;
  filter: brightness(0.6);
}

/* Text */

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: var(--navbar-height);
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: var(--padding-m);
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--max-width);
  z-index: 1;
}

.textContainer > .text {
  display: flex;
  flex-direction: column;
  grid-gap: var(--padding-l);
  width: 100%;
  height: fit-content;
  background-color: var(--black-wall);
  color: var(--text-color-white);
}

.textContainer > .text > h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  align-self: center;
  font-size: var(--font-size-xl);
  text-align: center;
}

.textContainer > .text > p,
.textContainer > .text > .phonelink {
  padding: 0 var(--padding-m);
}

.textContainer > .text > p:last-child {
  padding-bottom: var(--padding-m);
}

.textContainer > .text > p > a {
  border-bottom: 1px solid var(--main-color-green);
  padding-bottom: 2px;
  transition: border-color 0.4s ease;
}

.textContainer > .text > p > a:hover {
  border-color: var(--main-color-yellow);
}

.textContainer > .text > h1 > span {
  padding: var(--padding-m);
}

.textContainer > .text > h1 > span:last-child {
  padding-bottom: 0;
}

.textContainer > .text > h1 > span.question {
  width: 100%;
  color: var(--main-color-green);
  background-color: #fff;
}

.textContainer > .text > p {
  font-size: var(--font-size-m);
  text-align: justify;
  line-height: var(--line-height);
}

.textContainer > .text > p.list {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: var(--padding-s);
  grid-column-gap: var(--padding-l);
  width: 100%;
  height: fit-content;
}

.textContainer > .text > p.list > span {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  line-height: var(--line-height);
  padding-left: calc(var(--padding-m) * 2);
}

.textContainer > .text > p.list > span:not(.titleLink)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  height: var(--line-height);
  aspect-ratio: 1/1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.textContainer > .text > p.list > span:nth-child(2)::before {
  background-image: url("../media/consultation/certificate.svg");
}
.textContainer > .text > p.list > span:nth-child(3)::before {
  background-image: url("../media/consultation/check-list.svg");
}
.textContainer > .text > p.list > span:nth-child(4)::before {
  background-image: url("../media/consultation/time.svg");
}

.textContainer > .text > p.list > .titleLink {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: right;
  grid-column: 1/2;
  grid-row: 1/4;
  width: 300px;
  height: auto;
  aspect-ratio: 4/3;
  padding: 0;
}

.textContainer > .text > p.list > .titleLink > a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../media/lawyers/martsinkevich-oleg-igorevich.jpg");
  background-size: cover;
  border: 2px solid var(--text-color-white);
  transition: border-color 0.5s ease-in-out;
}

.textContainer > .text > p.list > .titleLink > a:hover {
  border-color: var(--main-color-green);
}

.textContainer > .text > p.list > .titleLink > a > span {
  width: 100%;
  height: fit-content;
  background-color: var(--black-wall-darker);
  font-size: var(--font-size-s);
  line-height: var(--font-size-l);
  text-align: center;
  font-weight: bold;
  line-height: normal;
  padding: var(--padding-s) var(--padding-s) 0 var(--padding-s);
}

.textContainer > .text > p.list > .titleLink > a > span:last-child {
  font-size: var(--font-size-s);
  font-weight: normal;
  padding: 0 var(--padding-s) var(--padding-s) var(--padding-s);
}

.textContainer > .text > .phonelink {
  display: none;
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.textContainer > .text > .phonelink > a {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: var(--padding-m);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-green);
  padding: var(--padding-m);
  overflow: hidden;
}

.textContainer > .text > .phonelink > a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 103%;
  height: auto;
  aspect-ratio: 1/1;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.textContainer > .text > .phonelink > a:hover::after {
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--main-color-yellow);
}

.textContainer > .text > .phonelink > a > span {
  display: block;
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
  background-image: url("../media/navbar/phone-white.svg");
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.textContainer > .text > .phonelink > a:hover > span {
  transform: rotateY(360deg);
  background-image: url("../media/navbar/phone-black.svg");
}

.textContainer > .text > .phonelink > a > p {
  color: var(--text-color-white);
  font-weight: bold;
  font-size: var(--font-size-l);
  z-index: 1;
  transition: color 0.5s ease-in-out;
}

.textContainer > .text > .phonelink > a:hover > p {
  color: var(--text-color-black);
}

section {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 0 var(--padding-m);
}

section > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  z-index: 1;
}

section > .content > .text {
  display: flex;
  flex-direction: column;
  grid-gap: var(--padding-l);
  width: 100%;
  height: fit-content;
  border: 4px solid var(--main-color-gray);
  font-size: var(--font-size-m);
  color: var(--text-color-black);
  padding: var(--padding-l);
}

section > .content > .text > h1 {
  align-self: center;
  width: fit-content;
  text-align: center;
  padding: 0 var(--padding-m);
}

section > .content > .text > p {
  text-align: justify;
  line-height: var(--line-height);
}

/* Team */

section.team {
  height: fit-content;
  padding: calc(var(--padding-l) * 2) var(--padding-m) var(--padding-l)
    var(--padding-m);
}

section.team > .content > .text {
  border-color: var(--main-color-green);
  padding-top: calc(var(--padding-l) * 2);
}

section.team > .content > .text > h1 {
  position: absolute;
  max-width: 80%;
  transform: translateY(
    calc(-100% - var(--padding-l) * 2 + var(--line-height) / 2)
  );
  background-color: #fff;
  line-height: var(--line-height);
}

/* Contacts link */

.contactsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 0 var(--padding-l);
}

.contactsLink > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: var(--text-color-white);
  color: var(--text-color-black);
  font-weight: bold;
  overflow: hidden;
  padding: var(--padding-m) calc(var(--padding-l) * 2);
}

.contactsLink > a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%) scale(0);
  width: 110%;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transition: all 0.5s ease-in-out;
}

.contactsLink > a:hover::before {
  background-color: var(--main-color-yellow);
  transform: translate(-50%, -50%) scale(1);
}

.contactsLink > a > p {
  z-index: 1;
}

/* Main */

main {
  width: 100%;
  height: fit-content;
}

main > section.signup {
  width: 100%;
  height: 80px;
  padding: 0;
}

main > section.signup > a {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-green);
  overflow: hidden;
}

main > section.signup > a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 102%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

main > section.signup > a:hover::before {
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--main-color-yellow);
}

main > section.signup > a:hover > .linkInner > p {
  color: var(--text-color-black);
}

main > section.signup > a > .linkInner {
  display: flex;
  width: fit-content;
  height: 100%;
  max-width: var(--max-width);
  padding: 0 var(--padding-m);
}

main > section.signup > a > .linkInner > .iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
  padding: var(--padding-m) 0;
  z-index: 2;
}

main > section.signup > a > .linkInner > .iconContainer > .icon {
  width: auto;
  height: 100%;
  max-height: 40px;
  aspect-ratio: 1/1;
  background-image: url("../media/navbar/phone-white.svg");
  transition: all 0.8s ease-in-out;
}

main > section.signup > a:hover > .linkInner > .iconContainer > .icon {
  transform: rotateY(360deg);
  background-image: url("../media/navbar/phone-black.svg");
}

main > section.signup > a > .linkInner > p {
  display: flex;
  justify-content: left;
  align-items: center;
  width: fit-content;
  height: 100%;
  font-size: var(--font-size-l);
  transition: color 0.5s ease-in-out;
  z-index: 2;
}

/* Diplomas */

section.diplomas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: var(--padding-m);
  height: 70vw;
  max-height: 400px;
  padding: var(--padding-l) var(--padding-m);
  padding-top: calc(var(--padding-l) * 1.5);
}

section.diplomas > .diplomasTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

section.diplomas > .diplomasTitle > h1 {
  background-color: #fff;
  color: var(--text-color-black);
  padding: 0 var(--padding-m);
}

section.diplomas > .diplomasContainer {
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
}

section.diplomas > .diplomasContainer > .diplomasInner {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: var(--border-radius);
}

section.diplomas > .diplomasContainer > .diplomasInner > .imagesList {
  display: flex;
  flex: none;
  scroll-snap-type: x mandatory;
  grid-gap: var(--padding-m);
  width: fit-content;
  min-width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  padding: 0 0 8px 0;
}

section.diplomas > .diplomasContainer > .diplomasInner > .imagesList > a {
  width: auto;
  height: 100%;
  border-radius: var(--border-radius);
}

section.diplomas > .diplomasContainer > .diplomasInner > .imagesList > a > img {
  width: auto;
  height: 100%;
  border-radius: var(--border-radius);
  cursor: zoom-in;
}

/* Reviews */

.reviewsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: var(--padding-l);
  width: 100%;
  max-width: 100vw;
  height: fit-content;
  background-color: #fff;
  padding: var(--padding-l) var(--padding-m);
  padding-top: 0;
}

.reviewTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: var(--padding-l) var(--padding-m);
  padding-bottom: 0;
}

.reviewTitle > h2 {
  color: var(--text-color-black);
}

.reviewsInner {
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  background-color: #fff;
  padding-bottom: var(--padding-l);
  overflow-y: auto;
}

.reviews {
  display: flex;
  flex: none;
  grid-gap: var(--padding-m);
  width: 100%;
  height: fit-content;
  list-style: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.review {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-gap: var(--padding-m);
  scroll-snap-align: start;
  flex: none;
  position: relative;
  width: 400px;
  height: calc(
    var(--line-height) * 4 + 50px + var(--padding-s) + var(--padding-m) * 2
  );
  border: 1px solid #dadada;
  border-radius: var(--border-radius);
  padding: var(--padding-s);
}

.review > .quotationMarks {
  position: absolute;
  top: var(--padding-m);
  right: var(--padding-m);
  background-image: url("../media/main/quotation-marks.svg");
  width: auto;
  height: 30px;
  aspect-ratio: 1/1;
}

.review > .reviewText {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 0 var(--padding-s) var(--padding-s) var(--padding-s);
}

.review > .reviewText::-webkit-scrollbar {
  width: 6px;
}

.reviewsInner::-webkit-scrollbar,
section.diplomas > .diplomasContainer > .diplomasInner::-webkit-scrollbar {
  height: 6px;
}

.review > .reviewText::-webkit-scrollbar-track,
.reviewsInner::-webkit-scrollbar-track,
section.diplomas
  > .diplomasContainer
  > .diplomasInner::-webkit-scrollbar-track {
  background-color: #dadada;
  border-radius: var(--border-radius);
}

.review > .reviewText::-webkit-scrollbar-thumb,
.reviewsInner::-webkit-scrollbar-thumb,
section.diplomas
  > .diplomasContainer
  > .diplomasInner::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: var(--border-radius);
}

.review > .reviewText > p {
  padding-right: var(--padding-s);
  color: var(--text-color-black);
  font-style: italic;
  line-height: var(--line-height);
}

.review > .reviewOwner {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: var(--padding-m);
  width: 100%;
  height: 100%;
  padding: var(--padding-s) var(--padding-s) 0 var(--padding-s);
}

.review > .reviewOwner > .reviewOwnerAvatar {
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
  background-image: url("../media/main/avatar.png");
  background-color: #fafafa;
  border-radius: 50%;
}

.review > .reviewOwner > .reviewOwnerName {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.review > .reviewOwner > .reviewOwnerName > h4 {
  color: var(--text-color-black);
  font-weight: normal;
}

/* Media */

@media screen and (max-width: 1000px) {
  section.signup {
    height: 100px !important;
  }

  .contentContainer {
    padding: 0;
  }

  .textContainer > .text > .phonelink {
    display: block;
  }

  .textContainer > .text > .phonelink > a > p {
    font-size: var(--font-size-m);
  }

  .textContainer > .text > p.list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .textContainer > .text > p.list > .titleLink {
    display: flex;
    width: 320px;
    height: auto;
  }

  .textContainer > .text > p,
  .textContainer > .text > .phonelink {
    padding-right: var(--padding-m);
  }
}

@media screen and (max-height: 500px) {
  section.signup {
    height: 100px !important;
  }
}

@media screen and (max-height: 700px) {
  .contentContainer {
    padding-top: 0;
  }
}

@media screen and (max-width: 800px) {
  main h1,
  main h2 {
    font-size: var(--font-size-l) !important;
  }

  section.team > .content > .text > h1 {
    font-size: var(--font-size-m) !important;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 0;
    align-items: normal;
  }

  header > .contentContainer > .textContainer > .text {
    border: none;
  }

  header p,
  header span,
  main p,
  main span {
    font-size: var(--font-size-s) !important;
    line-height: var(--line-height) !important;
  }

  section.signup p {
    font-size: var(--font-size-s) !important;
  }

  section.team {
    padding: var(--padding-m);
  }

  section.team > .content > .text {
    border: 0;
    padding: 0;
    grid-gap: var(--padding-m);
  }

  section.team > .content > .text > h1 {
    position: static;
    transform: none;
    max-width: none;
    padding: 0;
  }

  header .contentContainer {
    height: 100%;
    min-height: inherit;
  }

  header .contentContainer > .textContainer {
    height: 100%;
    min-height: inherit;
    justify-content: stretch;
  }

  header .contentContainer > .textContainer > .text {
    height: 100%;
    min-height: inherit;
  }

  .textContainer > .text > p.list {
    padding: 0;
  }

  .textContainer > .text > p.list > span {
    padding: 0 var(--padding-m) 0 calc(var(--padding-m) * 2);
    margin-left: var(--padding-m);
  }

  .textContainer > .text > p.list > .titleLink {
    width: 100%;
    padding: 0;
    margin: 0 0 var(--padding-s) 0;
  }

  .textContainer > .text > p.list > .titleLink > a {
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
}

@media screen and (max-width: 380px) {
  section.signup {
    height: 80px !important;
  }

  section.signup p {
    font-size: var(--font-size-xs) !important;
  }
}

@media screen and (max-width: 300px) {
  section.signup {
    height: 80px !important;
  }

  p,
  span {
    font-size: var(--font-size-s) !important;
    line-height: var(--line-height) !important;
  }
}