nav {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  border-bottom: 2px solid transparent;
  padding: var(--padding-s);
  overflow: hidden;
  z-index: 999;
}

.nav_container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
}

.left {
  display: flex;
}

/* onscroll */

nav.onscroll {
  height: calc(var(--navbar-height) / 2);
  background-color: var(--main-color-gray);
  border-color: var(--main-color-yellow);
}

nav.onscroll > .nav_container {
  grid-template-columns: auto 3fr;
  grid-gap: var(--padding-l);
}

nav.onscroll .slogan {
  width: 0;
  height: 0;
  opacity: 0;
  transform: scale(0);
}

nav.onscroll .link.phone > a {
  width: 100%;
}

nav.onscroll .link {
  flex: 1 0 20%;
  height: 100%;
  max-height: calc(var(--navbar-height) - var(--padding-s) * 2);
}

nav.onscroll .logo_container {
  padding: 0;
}

nav.onscroll .logo {
  background-color: transparent;
  color: var(--text-color-white);
  font-size: 0.8em;
}

nav.onscroll .logo::after {
  transform: scale(0);
}

/* Left */

.left {
  width: 100%;
  height: 100%;
}

/* Logo */

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
  color: #303030;
  padding: var(--padding-s);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: var(--navbar-height);
  max-height: var(--navbar-height);
  background-color: var(--text-color-white);
  color: var(--text-color-black);
  border-radius: 50%;
  transition: all 0.5s ease;
}

.logo::after {
  content: "Legist.by";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  max-height: var(--navbar-height);
  text-transform: uppercase;
  background-color: var(--text-color-white);
  font-size: 0.6em;
  text-align: center;
  padding: 4px 0;
  transition: all 0.5s ease;
}

.logo > h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.4em;
  font-weight: 400;
  transition: all 0.5s ease;
}

.logo:hover {
  background-color: var(--main-color-gray);
}

.logo:hover > h1 {
  color: var(--text-color-white);
}

.logo:hover::after {
  background-color: var(--main-color-gray);
  color: var(--text-color-white);
}

/* Slogan */

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: var(--padding-s);
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.slogan > p,
.slogan > a {
  display: flex;
  align-items: center;
  grid-gap: var(--padding-s);
  width: 100%;
  text-align: left;
}

.slogan > p {
  font-size: 1.4em;
}

.slogan > a {
  width: 100%;
  font-size: 1.2em;
}

.slogan > a > p {
  border-bottom: 2px solid transparent;
  padding: 4px 0;
  transition: border-color 0.2s ease;
}

.slogan > a:hover > p {
  border-color: var(--main-color-yellow);
}

.slogan > a > .icon {
  display: block;
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
  background-image: url("../media/navbar/target.svg");
}

/* Right */

.right {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--padding-s);
  width: 100%;
  height: 100%;
}

/* Links */

.link {
  display: flex;
  flex: 1 0 calc(100% / 3 - var(--padding-s) * 2);
  width: 100%;
  height: calc(50% - var(--padding-s) / 2);
  max-height: calc(50% - var(--padding-s) / 2);
}

.link.phone {
  justify-content: right;
  flex: 1 0 100%;
}

.link.phone > a {
  width: calc(100% / 3 - var(--padding-s) * 2 / 3);
  background-color: var(--main-color-green);
}

.link > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white-wall);
  overflow: hidden;
}

.link > a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 110%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--main-color-yellow);
  transition: all 0.5s ease-in-out;
}

.link > a:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.link > a > p {
  transition: color 0.5s ease-in-out;
}

.link > a:hover > p {
  color: var(--text-color-black);
}

.link > a > p {
  z-index: 1;
}

.toggleButton {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background-color: var(--main-color-gray);
  border-right: 2px solid var(--main-color-yellow);
  border-bottom: 2px solid var(--main-color-yellow);
  border-radius: 0 0 var(--border-radius) 0;
}

.toggleButton > button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../media/navbar/settings.svg");
  border: none;
}

/* Media */

@media screen and (max-width: 1000px) {
    nav {
      transform: translateX(-100%);
      width: 100%;
      height: 100%;
      max-width: calc(100vw - 50px);
      background-color: var(--main-color-gray);
      border-right: 2px solid var(--main-color-yellow);
      overflow: visible;
      transition: transform 0.5s ease;
    }

    nav.active {
      transform: translateX(0);
    }

    .nav_container {
      display: flex;
      flex-direction: column;
    }

    .left {
      display: flex;
      flex-direction: column;
      height: fit-content !important;
      padding-bottom: var(--padding-l);
    }

    .logo_container {
      height: fit-content;
      aspect-ratio: unset;
    }

    .logo {
      width: 80px;
      height: 80px;
    }

    .right {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .link {
      flex: none;
      height: calc(var(--padding-l) * 2);
      min-height: auto;
    }

    .link.phone {
      flex: none;
      justify-content: center;
      width: 100%;
      max-height: none;
    }

    .link.phone > a {
      width: 100%;
    }

    .slogan > p {
      display: none;
    }

    .slogan > a {
      justify-content: center;
    }

    .toggleButton {
      display: block;
    }
}