:root {
    --main-color-gray: #48586e;
    --main-color-gray-2: #3a475a;
    --main-color-yellow: #f0b97b;
    --main-color-yellow-2: #ebae5e;
    --main-color-white: #ffffff;
    --main-color-white-2: #f5eeed;

    --black-wall: #00000090;
    --black-wall-lighter: #00000020;
    --black-wall-darker: #000000bb;
    --white-wall: #ffffff30;
    
    --text-color-black: #303050;

    --border-radius: 8px;

    --padding-s: 10px;
    --padding-m: 20px;
    --padding-l: 30px;

    --scrollbar-track-color: #6c7583;
    --scrollbar-thumb-color: #3e4652;
    --scrollbar-thumb-color-hover: #3a414d;

    --max-width: 1200px;
    --navbar-height: 140px;
    --header-height: calc(100vh - var(--navbar-height));

    --line-height: 1.6em;

    --font-size-xl: 2.1em;
    --font-size-l: 1.5em;
    --font-size-m: 1.1em;
    --font-size-s: 0.9em;
    --font-size-xs: 0.7em;
}