:root {
    --main-color-gray: #495361;
    --main-color-yellow: #eccfa8;
    --main-color-green: #1FC1A2;

    --black-wall: #00000050;
    --white-wall: #ffffff30;
    
    --text-color-black: #303050;
    --text-color-white: #fcf8f4;

    --border-radius: 8px;

    --padding-s: 10px;
    --padding-m: 20px;
    --padding-l: 30px;

    --scrollbar-track-color: #6c7583;
    --scrollbar-thumb-color: #3e4652;
    --scrollbar-thumb-color-hover: #3a414d;

    --max-width: 1200px;
    --navbar-height: 120px;
    --header-height: calc(100vh - var(--navbar-height));

    --line-height: 1.6em;
}